:root {
    --primary-color: #FD9B63;
    --primary-text-color: #365E32;
    --secondary-color: #e7d37f;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.main h1 {
    background-color: var(--secondary-color);
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

form > div {
    display: flex;
    flex-direction: column;
} 

form > div > input {
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid gray;

}

form > div > label {
    margin-bottom: 5px;
    background-color: var(--secondary-color);
    width: 120px;
}

form > button {
    padding: 10px;
    font-size: 18px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    /* color: var(--primary-color); */
}
button {
    cursor: pointer;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}
table button {
    width: 50px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid gray;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 10px;
    background-color: rgba(var(--secondary-color), 0.7);

}
thead {
    background-color: var(--secondary-color);
}
tbody {
    background-color: rgb(231, 211, 127, 0.5);
}

