#productTable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    

}
#productTable td {
    border-bottom: 2px solid grey;
    padding: 10px;
}
button {
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}
.delete {
    width: 100px;
}
table button {
    width: 40px;
}
.cart-total {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 5px 15px;
    text-align: center;
    border-bottom: 1px solid red;
    background-color: rgb(231, 211, 127,0.8);
    margin-top: 35px;
}
thead {
    background-color: var(--secondary-color);
}
tbody {
    background-color: rgb(231, 211, 127,0.5);
}